{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
              <div class="nav-wrapper">
                <form action="">
                  <div class="row">
                      <div class="col s5 m5 l5 xl4 offset-l2 offset-s2 offset-m2">
                        <input id="main_input" type="text" placeholder="CE1111AO">
                      </div>
                      <div class="col s4 m3 l3 xl3">
                        <button id="main_button" class="btn">Вибрати</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </nav>
    </header>

    <div class="content">
      <div class="row">
        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1">
          <ul class="collapsible right-align z-depth-1-half" style="margin: 0; margin-bottom: 10px; background-color: rgba(1,1,1,0.001);">
            <li>
              <div class="collapsible-header">Панель керування<i class="material-icons large" style="float: right;">settings</i></div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </ul>
        </div>
         <div class="col s12">
          <ul id="tabs-swipe-demo" class="tabs z-depth-3">
            <li class="tab col s4">
              <a class="active" href="#swipe-1">Інформація про авто</a></li>
            <li class="tab col s4">
              <a class="" href="#swipe-2">Ремонт</a></li>
            <li class="tab col s4">
              <a class="" href="#swipe-3">Розрахунок</a></li>
          </ul>
          <div class="tabs-content carousel carousel-slider">
            <div id="swipe-1" class="col s12 content_tabs">
              {% block car_info %} {% endblock %}
          </div>
            <div id="swipe-2" class="col s12  content_tabs" >
                <div class="row">
                  <div class="col l8 s12">
                    {% block repair %} {% endblock %}
                  </div>
                  <div class="col l3 xl3  s12 center-align offset-l1" style="margin-top:40px;">
                    <a class="waves-effect waves-orange waves-light btn tooltipped " href="" data-position="bottom" data-tooltip="Добавлення нового запису про ремонт"><i class="material-icons left">add</i>Добавити</a>
                  </div>

                </div>
            </div>
            <div id="swipe-3" class="col s12  content_tabs">
              <div class="row" id="rozrax_items">
                <a class="modal-trigger black-text" href="#modal1">
                <div id="rozrax_item" class="col s12 m12 l8 xl12 offset-l2">
                    <span style="float: left;">Василь</span>
                    <span style="float: right;">100грн</span>
                  </div>
                </a>
                <a class="modal-trigger black-text" href="#modal1">
                  <div id="rozrax_item" class="col s12 m12 l8 xl12 offset-l2">
                      <span style="float: left;">Олег</span>
                      <span style="float: right;">300грн</span>
                    </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="col s12 center-align" style="margin-top:20px;">
          Yevhen Shvets
        </div>
      </div>
    </footer>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Розрахувати?</h4>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ні</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Так</a>
      </div>
    </div>

    <script type="text/javascript">
      $('ul.tabs').tabs({
      swipeable: true,
      responsiveThreshold: Infinity
      });
      $(document).ready(function(){
        $('.modal').modal();
      });
  </script>
    <!--JavaScript at end of body for optimized loading-->
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
</body>
</html>
