{% extends 'StoApp/base_sto_app.html' %}

{% block car_info %}
<div class="car_content">
    <div class="row">
        <div class="col l6 m6 s12 xl6">
            <div class="col s12 xl12">
                Інформація про машину:
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Номер: <span class="_bold">{{ car.number }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Марка: <span class="_bold">{{ car.mark }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Модель: <span class="_bold">{{ car.model }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Рік: <span class="_bold">{{ car.year }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Об'єм двигуна: <span class="_bold">немаааа</span>
            </div>
        </div>
        <div class="col l6 m6 s12 xl6">
            <div class="col s12 xl12">
                Загальна інформація:
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Власник: <span class="_bold">{{ car.user_name }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Номер тел.: <span class="_bold">{{ car.user_number }}</span>
            </div>
            <div class="col s11 xl11 offset-xl1 offset-s1">
                Дата останнього візиту: <span class="_bold">даааатаааа</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block repair %}
<ul class="collapsible">
    {% for r in repairs_types %}
        <li>
            <div class="collapsible-header">{{ r }}</div>
            <div class="collapsible-body rem_items">
                <div class="row" >
                    {% for rep in repairs %}
                        {% if rep.type == r %}
                            <div class="col l12 s12 rem_item">
                                <span style="float: right;">{{ rep.date }}</span><br>
                                <span style="margin-left: 10px; font-style: italic;">{{ rep.description }}</span>
                                <span style="margin-top:2px; float: right; color:red; font-weight:bold;">{{rep.price }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}